<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.dao.UserDao">
    <select id="getuser" parameterType="Integer" resultType="com.web.model.User">
        select * from user where id=#{id}
    </select>

    <select id="geetuerbyusername" parameterType="String" resultType="com.web.model.User">
        select * from user where username=#{username}
    </select>

    <insert id="insertuser" parameterType="com.web.model.User">
        insert into user (id, username, password) values
        (#{id},#{username},#{password})
    </insert>

    <delete id="deleteuser" parameterType="Integer">
        delete from user where id=#{id}
    </delete>

    <update id="updateuser" parameterType="com.web.model.User">
        update user
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
        </set>
    </update>

    <resultMap id="bookmap" type="com.web.model.User">
        <id column="id" property="id" ></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <collection property="book" column="user_id" ofType="com.web.model.Book">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="sort" property="sort"></result>
            <result column="status" property="status"></result>
        </collection>
    </resultMap>

    <select id="getbook" resultMap="bookmap" parameterType="Integer">
        select *
		from user u left join book b
		on u.id=b.user_id
		where u.id=#{id}
    </select>

    <resultMap id="messagemap" type="com.web.model.User">
        <id column="id" property="id" ></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <collection property="message" column="user_id" ofType="com.web.model.Message" >
            <id column="id" property="id"></id>
            <result column="message" property="message"></result>
        </collection>
    </resultMap>

    <select id="getmessage" resultMap="messagemap" parameterType="Integer">
        select *
        from user u left join message m
        on u.id=m.user_id
        where u.id=#{id}
    </select>
</mapper>